
@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');

body {
    font-family: Playwrite England SemiJoined
    ;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

header {
    background: #4ea4da;
    color: #635c5c;
    padding: 10px 0;
    text-align: center;
}

nav {
    margin: 15px 0;
}

nav a {
    margin: 0 15px;
    color: #ffffff;
    text-decoration:Weight ;

}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #35424a;
    color: #ffffff;
    position: relative;
    bottom: 0;
    width: 100%;
}
.imagem-centralizada {
       display:block;
       margin: 0 auto;
}